@page "/cringe"
@rendermode InteractiveServer

<h3>Hello, @handler!</h3>

@code {
    string handler;

    protected override void OnInitialized()
    {
        if (OperatingSystem.IsBrowser())
        {
            handler = "WASM";
        }
        else
        {
            handler = "Server";
        }
    }
}
