@page "/cringe"
@rendermode InteractiveServer

<h3>Cringe</h3>

<label for="fname">Enter a string to reverse: </label>
<InputText @bind-Value="@stringToReverse"></InputText>
<br>
<br>
<button type="submit" @onclick="ActivateCringe">Activate Cringe</button>

<p>@newString</p>

@code {

    public string newString = "";

    string stringToReverse = "";

    public void ActivateCringe()
    {
        var charArray = stringToReverse.ToCharArray();
        Array.Reverse(charArray);

        newString = new string(charArray);
    }
}
