.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: auto; /* no height needed ... image will resize automagically */
}

.navbar-brand img {
    width: 100px;
}


@media screen and (min-width: 992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
}

/*@media screen and (max-width: 500px) {
    .navbar .container-fluid {
        position: sticky;
        top: 0;
    }
}*/

.navbar .navbar-nav .nav-link {
    color: #000;
    z-index: 5;
}

#navbarSupportedContent {
    width: 100%;
}
