.navbar-brand {
    background: url("../../wwwroot/pogchamp.png") center / contain no-repeat;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 200px; /* no height needed ... image will resize automagically */
}

.navbar-brand img {
    width: 100px;
}


@media screen and (min-width: 992px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
}

.navbar .navbar-nav .nav-link {
    color: #000;
}
