<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="order">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Place an Order
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="events">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Events
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="gallery">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Gallery
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Contact Us
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>